* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#video-background {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.25;
    filter: hue-rotate(180deg) saturate(70%);
    object-fit: cover;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
    z-index: 1;
}

.logo {
    font-size: 2.5rem;
    color: rgb(57, 143, 255);
    font-weight: 700;
    min-height: 50px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
}

nav a {
    text-decoration: none;
    color: rgba(30, 55, 130, 0.8);
    font-size: 1.1rem;
    padding: 10px 10px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

nav a:hover {
    color: rgb(57, 143, 255);
    border: 1px solid rgb(57, 143, 255);
}

nav a.active {
    color: rgb(57, 143, 255);
    border: 1px solid rgb(57, 143, 255);
    background: rgba(0, 120, 255, 0.2);
}

.home-content {
    text-align: center;
    padding: 40px 0;
    font-size: 1.15rem;
    color: azure;
}

.home-content h1 {
    font-size: 2rem;
    margin-bottom: 40px;
    color: #0f203a;
}

.home-content h2 {
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: #0f203a;
}

.info-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 30px;
}

.info-card {
    border-left: 4px solid royalblue;
    padding: 15px 10px;
}

.info-card p {
    margin: 10px 0;
}

.info-card h2 {
    padding-left: 10px;
    margin-bottom: 20px;
}

.links {
    margin-top: 30px;
}

.links > div,
.links a {
    margin-bottom: 15px;
}

.links a {
    box-shadow: none;
    border-radius: 10px;
    padding: 20px;
    border: 1px solid rgba(57, 143, 255, 0.4);
    display: inline-flex;
    gap: 10px;
    align-items: center;
    text-decoration: none;
    color: aliceblue;
    transition: all 0.4s ease;
}

.links a:hover {
    transform: translateX(10px);
    border-color: rgb(57, 143, 255);
}

.links a > img {
    width: 30px;
    height: 30px;
    filter: brightness(0) invert(1) sepia(1) hue-rotate(190deg);
}

footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 40px;
    border-top: 1px solid rgb(0, 120, 255, 0.3);
    color: aliceblue;
}

.browser-info {
    background: rgba(10, 30, 60, 0.75);
    padding: 30px;
    border-radius: 15px;
    margin-top: 30px;
    color: #c0d8ff;
}

.browser-info h2 {
    margin-bottom: 30px;
}

.browser-info p {
    margin-bottom: 10px;
}

/* Адаптивность */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        gap: 12px;
    }

    .info-grid {
        grid-template-columns: 1fr;
    }
}